{# app/Resources/views/form/formView.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task: {{ firstname }}</h1>
    <h1>DNI: {{ dni }}</h1>
    <h1>Age: {{ age }}</h1>
    <h1>Checkbox: {{ checkbox }}</h1>
    <h1>Email: {{ email }}</h1>
{% endblock %}