{# app/Resources/views/form/formTemplate_result_forEdition.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
	{{form_start(form)}}
		{{ form_errors(form) }}
		
		<h2>formTemplate_result_forEdit.</h2>
		<h3>ID: {{ id }}</h3>
		<h3>Title: {{ title }}</h3>
		<h3>Summary: {{ summary }}</h3>
		<h3>Content: {{ content }}</h3>
		<h3>Author Email: {{ authorEmail }}</h3>
		<h3>Published Date: {{ publishedAt.date|date('m/d/Y - H:i:s') }}</h3>
		
		{{ form_widget(form) }}
	{{form_end(form)}}
{% endblock %}